<h1>jQueryTEST</h1>
<p id="hoge">jQuery入ってます</p>

<script>
  $("#hoge").css("color","red")
</script>

<%= link_to '非同期通信まとめ', 'https://docs.google.com/presentation/d/1rapxnM-5J2gxyufL04LYRsE6gSyt7swXWW24eXOwNFM/edit#slide=id.p'%>
<%= link_to '参考', 'https://pikawaka.com/rails/remote-true'%>

<h1>新規投稿</h1>
<%= form_with model:@list, url:'/todolists', remote:true do |f| %><!--非同期①local:trueをremote:trueに変更-->
<h4>タイトル</h4>
<%= f.text_field :title %>
<h4>本文</h4>
<%= f.text_area :body %>
<!--<h4>画像</h4>-->
<!--<= f.attachment_field :image %>-->
<%= f.submit '投稿' %>
<% end %>


<div class = "indexs" >
<%= render 'indexs/index' %>
</div>

